/* General Styles */
:root {
	font-size: 62.5%;
}

body {
	font-family: Arial, sans-serif;
	font-size: 1.6rem;
	margin: 0;
	padding: 0;
	display: flex;
	background-color: #ecf0f1;
}

/* Header Styles */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

header h1 {
	margin: 0;
}

.admin-profile {
	display: flex;
	align-items: center;
}

.admin-profile img {
	width: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

.main-content {
	flex-grow: 1;
	padding: 20px;
	margin-left: 240px;
	transition: margin-left 0.3s ease;
}

.table-list {
	margin-bottom: 20px;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin-top: 20px;
}

.table-list h1 {
	margin-bottom: 10px;
	font-weight: bold;
}

.table-list table {
	width: 100%;
	border-collapse: collapse;
}

.table-list th,
.table-list td {
	padding: 12px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

.table-list th {
	background-color: #3498db;
	color: white;
}

/* Buttons in Actions Column */
.table-list td .editBtn,
.deleteBtn {
	display: inline-block; /* Ensures buttons stay inline */
	margin-right: 8px; /* Adds spacing between buttons */
}

.table-list td .custom-btn:last-child {
	margin-right: 0; /* Removes the right margin from the last button */
}

.table-list tr:hover {
	background-color: #f1f1f1;
}

/* Modal Styles */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	justify-content: center; /* Center the modal horizontally */
	align-items: center; /* Center the modal vertically */
}

.modal-content {
	background-color: #fefefe;
	margin: auto; /* Center modal */
	padding: 20px 20px 0px 20px;
	border: 1px solid #888;
	width: 400px; /* Fixed width for the modal */
	border-radius: 8px; /* Rounded corners */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
	animation: fadeIn 0.3s; /* Fade in animation */
}
.modal-title {
	font-weight: 600;
}
/* Form Styles */
form label {
	display: block;
	margin-bottom: 5px;
	font-weight: medium;
}

form input {
	width: calc(100% - 20px); /* Full width minus padding */
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 4px; /* Rounded corners */
}

.form-control,
.form-select,
option {
	font-size: 1.6rem;
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Stock Indicator Styles */
.high-stock {
	background-color: green;
	color: white;
	padding: 5px 8px;
	border-radius: 4px;
}

.low-stock {
	background-color: red;
	color: white;
	padding: 5px 8px;
	border-radius: 4px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
	.sidebar {
		transform: translateX(-100%);
	}

	.sidebar.active {
		transform: translateX(0);
	}

	.main-content {
		margin-left: 0;
	}

	.main-content.active {
		margin-left: 250px;
	}
}

.pagination {
	text-align: center;
	margin-top: 20px;
	justify-content: center;
}

.pagination a,
.pagination span {
	padding: 8px 12px;
	margin: 0 4px;
	text-decoration: none;
	background-color: #f4f4f4;
	border: 1px solid #ddd;
	color: #333;
	border-radius: 3px;
}

.pagination a:hover {
	background-color: #ddd;
}

.pagination .active {
	background-color: #2980b9;
	color: white;
	border: 1px solid #2980b9;
}

.pagination .disabled {
	color: #999;
	cursor: not-allowed;
}

.modal-backdrop {
	z-index: 1040; /* Ensures it's below the modal */
}

.modal {
	z-index: 1050; /* Modal above backdrop */
}
.modal-dialog {
	z-index: 1051; /* Make this slightly higher than the modal */
}

.modal-header {
	background-color: #f8f9fa;
}

.float-right {
	float: right;
}

.modal-footer {
	display: flex;
	justify-content: center; /* Centers the button horizontally */
	padding: 10px 8px;
}

/* Custom Button Styles */
button.custom-btn {
	font-size: 1.6rem;
	background-color: #2980b9;
	color: white;
	padding: 5px 8px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 20px;
}

.editBtn,
.deleteBtn,
.btn-close,
.btn.btn-danger,
.btn.btn-secondary {
	font-size: 1.6rem;
	padding: 5px 8px;
}

button.custom-btn:hover {
	background-color: #1f639b;
}

.custom-btn-color {
	background-color: #52b2e1;
	border: none; /* Remove border */
	color: white; /* Set the text color */
	padding: 5px 8px; /* Add padding for a better look */
	border-radius: 5px; /* Add rounded corners */
	font-size: 16px; /* Adjust font size */
	cursor: pointer; /* Show pointer on hover */
	transition: background-color 0.3s ease; /* Smooth color change on hover */
}

.custom-btn-color:hover {
	background-color: #4796bd;
}

.custom-alert {
	position: fixed; /* Fix the position */
	top: 10px; /* Place at the very top */
	left: 50%; /* Center horizontally */
	transform: translateX(-50%); /* Center align the element */
	z-index: 9999; /* Make sure it's above other elements */
	width: auto; /* Adjust width as needed */
	text-align: center; /* Center text */
	margin: 0; /* Remove any default margin */
	padding: 15px; /* Add some padding for aesthetics */
	border: 5px;
}

.hide {
	opacity: 0;
	transition: opacity 1.5s ease;
}
