/* General Styles */
:root {
	font-size: 62.5%;
}

body {
	font-family: Arial, sans-serif;
	font-size: 1.6rem;
	line-height: 1.2;
	margin: 0;
	padding: 0;
	display: flex;
}

/* Header Styles */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

header h1 {
	font-weight: bold;
	margin: 0;
}

.admin-profile {
	display: flex;
	align-items: center;
}

.admin-profile img {
	width: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

.main-content {
	flex-grow: 1;
	background-color: #ecf0f1;
	padding: 20px;
	margin-left: 200px;
	transition: margin-left 0.3s ease;
	min-height: 100vh;
}

/* Product List Styles */
.product-list {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-list h1 {
	margin-bottom: 20px;
	font-weight: bold;
}

/* Style the text inside the input boxes and dropdown */
#filters input[type="text"],
#filters input[type="date"],
#filters select {
	font-size: 1.4rem;
	/* Adjust the font size as needed */
	color: #333;
	/* Text color */
	padding: 8px;
	/* Add padding for better spacing */
	border: 1px solid #ccc;
	/* Border color */
	border-radius: 4px;
	/* Rounded corners */
	box-sizing: border-box;
	/* Ensure padding doesn't affect the width */
}

/* Style the dropdown arrow */
#filters select {
	font-style: normal;
	-webkit-appearance: none;
	/* Remove default styling */
	-moz-appearance: none;
	appearance: none;
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NSA0NSIgd2lkdGg9IjIwcHgiIGhlaWdodD0iMjBweCIgZmlsbD0iIzMzMyI+PHBhdGggZD0iTTguNSAxNS41bDEyIDEyIDEyLTEyIiAvPjwvc3ZnPg==") no-repeat right 10px center;
	background-size: 10px;
	height: fit-content;
	padding: 8px;
	/* Add padding for better spacing */
	padding-right: 25px;
}

.product-list table {
	width: 100%;
	border-collapse: collapse;
}

.product-list th,
.product-list td {
	font-size: 1.4rem;
	padding: 12px 8px;
	border-bottom: 1px solid #ddd;
}

.product-list th {
	background-color: #3498db;
	color: white;
	text-align: left;
}

.product-list td {
	text-align: left;
}

.dropdown-toggle {
	font-size: 1.4rem;
	line-height: 1.2;
	background-color: #3498db;
	border: none;
	font-weight: 600;
	transition: none;
}

/* Buttons in Actions Column */
.product-list td .editBtn,
.deleteBtn {
	display: inline-block;
	/* Ensures buttons stay inline */
	margin-right: 0;
	/* Adds spacing between buttons */
}

.product-list td .custom-btn:last-child {
	margin-right: 0;
	/* Removes the right margin from the last button */
}

.product-list tr:hover {
	background-color: #f1f1f1;
}

#categoryDropdown:hover,
#categoryDropdown:focus,
#categoryDropdown:active {
	outline: none;
	/* Remove focus outline */
	box-shadow: none;
	/* Remove any shadow that might create a border effect */
	border: none;
	/* Ensure no border appears */
}

/* Modal Styles */
.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
	justify-content: center;
	/* Center the modal horizontally */
	align-items: center;
	/* Center the modal vertically */
}

.modal-content {
	background-color: #fefefe;
	margin: auto;
	/* Center modal */
	padding: 20px 20px 0px 20px;
	border: 1px solid #888;
	width: 400px;
	/* Fixed width for the modal */
	border-radius: 8px;
	/* Rounded corners */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	/* Shadow for depth */
	animation: fadeIn 0.3s;
	/* Fade in animation */
}

.modal-title {
	font-weight: 600;
}

/* Form Styles */
form label {
	display: block;
	margin-bottom: 5px;
	font-weight: 500;
}

form input,
form select,
form option {
	width: calc(100% - 20px);
	/* Full width minus padding */
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	/* Rounded corners */
}

.form-control,
.form-select,
option,
.dropdown-menu {
	font-size: 1.6rem;
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Stock Indicator Styles */
.high-stock {
	background-color: green;
	color: white;
	padding: 8px 12px;
	border-radius: 4px;
}

.low-stock {
	background-color: red;
	color: white;
	padding: 8px 12px;
	border-radius: 4px;
}

.pagination {
	text-align: center;
	margin-top: 20px;
	justify-content: center;
}

.pagination a,
.pagination span {
	line-height: 1.2;
	padding: 8px 16px;
	margin: 0 4px;
	text-decoration: none;
	background-color: #f4f4f4;
	border: 1px solid #ddd;
	color: #333;
	border-radius: 3px;
}

.pagination a:hover {
	background-color: #ddd;
}

.pagination .active {
	background-color: #2980b9;
	color: white;
	border: 1px solid #2980b9;
}

.pagination .disabled {
	color: #999;
	cursor: not-allowed;
}

.modal-backdrop {
	z-index: 1040;
	/* Ensures it's below the modal */
}

.modal {
	z-index: 1050;
	/* Modal above backdrop */
}

.modal-dialog {
	z-index: 1051;
	/* Make this slightly higher than the modal */
}

.modal-header {
	background-color: #f8f9fa;
}

.float-right {
	float: right;
}

.modal-footer {
	display: flex;
	justify-content: center;
	/* Centers the button horizontally */
	padding: 10px 8px;
}

/* Custom Button Styles */
button.custom-btn {
	font-size: 1.4rem;
	line-height: 1.2;
	background-color: #2980b9;
	color: white;
	padding: 8px 12px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 16px;
}

.editBtn,
.deleteBtn,
.btn-close,
.btn.btn-danger,
.btn.btn-secondary {
	font-size: 1.4rem;
	line-height: 1.2;
	padding: 8px 12px;
}

button.custom-btn:hover {
	background-color: #1f639b;
}

.custom-btn-color {
	line-height: 1.2;
	background-color: #52b2e1;
	border: none;
	/* Remove border */
	color: white;
	/* Set the text color */
	padding: 8px 12px;
	/* Add padding for a better look */
	border-radius: 5px;
	/* Add rounded corners */
	font-size: 16px;
	/* Adjust font size */
	cursor: pointer;
	/* Show pointer on hover */
	transition: background-color 0.3s ease;
	/* Smooth color change on hover */
}

.custom-btn-color:hover {
	background-color: #4796bd;
}

#alert-container {
	position: fixed;
	/* Fix the position */
	top: 0;
	/* Place at the very top */
	left: 50%;
	/* Center horizontally */
	transform: translateX(-50%);
	/* Center align the element */
	z-index: 9999;
	/* Make sure it's above other elements */
	width: auto;
	/* Adjust width as needed */
	text-align: center;
	/* Center text */
	margin: 0;
	/* Remove any default margin */
	padding: 10px;
	/* Add some padding for aesthetics */
}

.hide {
	opacity: 0;
	transition: opacity 1.5s ease;
}

/*
/* Responsive Styles 
@media screen and (max-width: 768px) {
	.sidebar {
		transform: translateX(-100%);
	}

	.sidebar.active {
		transform: translateX(0);
	}

	.main-content {
		margin-left: 0;
	}

	.main-content.active {
		margin-left: 250px;
	}
}
*/